<template>
  <div id="edit-panel" ref="editPanel">
    <div class="close-btn" @click="hidePanel">
      <i class="fa fa-times"></i>
    </div>
    <div class="form">
      <div class="form-group">
        <label for="image">Immagine</label>
        <input type="file" name="image" class="form-control" @change="fileChange">
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" name="name" class="form-control" v-model="name">
      </div>
      <div class="form-group">
        <label for="surname">Cognome</label>
        <input type="text" name="surname" class="form-control" v-model="surname">
      </div>
      <div class="form-group">
        <label for="description">Descrizione</label>
        <textarea name="description" rows="8" class="form-control" v-model="description"></textarea>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          @click="saveFunder"
        >
          <i class="fa fa-floppy-o"></i> Salva
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import {TweenMax, Power4} from 'gsap'
import axios from 'axios'
import {EventBus} from '_js/EventBus'

export default {
  name: 'EditPanel',
  props: {
    update: {
      default: false,
      type: Boolean
    },
    funder: {
      default: function() {},
      type: Object
    }
  },
  data: () => ({
    name: '',
    surname: '',
    description: '',
    media: ''
  }),
  watch: {
    funder: function()
    {
      this.name = this.funder.name
      this.surname = this.funder.surname
      this.description = this.funder.description
    }
  },
  methods: {
    showPanel: function()
    {
      TweenMax.to(this.$refs.editPanel, .4, {
        opacity: 1,
        display: 'flex',
        ease: Power4.easeInOut
      })
    },
    hidePanel: function()
    {
      TweenMax.to(this.$refs.editPanel, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut,
        onComplete: this.closePanel()
      })
    },
    closePanel: function()
    {
      this.$emit('closePanel')
    },
    saveFunder: function()
    {
      if (!this.update) {
        // Nuovo Funder
        this.newFunder()
      } else {
        // Aggiorna Funder
        this.updateFunder()
      }
    },
    newFunder: function()
    {
      var data = new FormData()
      data.append('name', this.name)
      data.append('surname', this.surname)
      data.append('description', this.description)
      data.append('media', this.media)

      axios.post('/admin/funders/new-funder', data)
        .then(response => {
          EventBus.$emit('update-funders', response.data)
          this.hidePanel()
        })
    },
    updateFunder: function()
    {
      var data = new FormData()
      data.append('id', this.funder.id)
      data.append('name', this.name)
      data.append('surname', this.surname)
      data.append('description', this.description)
      data.append('media', this.media)

      axios.post('/admin/funders/update-funder', data)
        .then(response => {
          EventBus.$emit('update-funders', response.data)
          this.hidePanel()
        })
    },
    fileChange: function(event)
    {
      this.media = event.target.files[0]
    }
  },
  mounted()
  {
    this.$parent.$on('open-edit-panel', () => {
      this.showPanel()
    })
  }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';

  #edit-panel {
    display: flex;
    flex-direction: row-reverse;

    > .close-btn {
      padding: $spacer;

      > i {
        font-size: $font-size-h1;
      }
    }

    > .form {
      width: 100%;
    }
  }

</style>
