<template>
  <div id="funders">
    <h3>Finanziatori</h3>
    <hr>
    <div class="row mt-4">
      <new-funder />
      <single-funder v-for="funder in funders" :key="funder.key" :funder="funder"/>
    </div>
  </div>
</template>
<script>
import SingleFunder from './SingleFunder.vue'
import NewFunder from './NewFunder.vue'
import axios from 'axios'
import {EventBus} from '_js/EventBus'

export default {
  name: 'Funders',
  components: {
    NewFunder,
    SingleFunder
  },
  data: () => ({
    funders: [
      {
        img: '',
        name: '',
        surname: '',
        description: ''
      },
    ]
  }),
  methods: {
    getFunders: function()
    {
      axios.get('/admin/funders/get-funders')
        .then(response => {
          this.funders = response.data
        })
    }
  },
  mounted()
  {
    this.getFunders()

    EventBus.$on('update-funders', () => {
      this.getFunders()
    })
  }
}
</script>
<style lang="scss" scoped>
</style>
