<template>
  <div id="new-funder" class="col-md-4">
    <div class="placeholder" ref="placeholder">
      <div
        class="img-container"
        @click="showPanel"
      >
        <i class="fa fa-user-plus"/>
      </div>
      <div class="details" ref="details">
        <div class="name">
          <h3>Nuovo Sostenitore</h3>
        </div>
        <div class="description">
          <button
            class="btn btn-primary"
            @click="showPanel"
          >
            <i class="fa fa-plus"></i> Aggiungi
          </button>
        </div>
      </div>
    </div>
    <edit-panel
      id="edit-panel"
      ref="panel"
      @closePanel="hideEditPanel"
    />
  </div>
</template>
<script>
import {TweenMax, Power4} from 'gsap'
import EditPanel from './EditPanel.vue'
export default {
  name: 'NewFunder',
  components: {
    EditPanel
  },
  data: () => ({

  }),
  methods: {
    showPanel: function()
    {
      TweenMax.to(this.$refs.placeholder, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut,
        onComplete: this.openPanel()
      })
    },
    openPanel: function()
    {
      this.$emit('open-edit-panel')
    },
    hideEditPanel: function()
    {
      TweenMax.to(this.$refs.placeholder, .4, {
        opacity: 1,
        display: 'flex',
        ease: Power4.easeInOut,
      })
    },
  }
}
</script>
<style lang="scss" scoped>

@import '~styles/variables';

  #new-funder {
    .placeholder {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $spacer * 2;

      > .img-container {
        width: $spacer * 10;
        height: $spacer * 10;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: 4px dashed $black;

        > i {
          position: absolute;
          font-size: $font-size-h1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      > .details {
        > .name {
          padding-top: $spacer * 2;

          > h3 {
            text-align: center;
          }
        }

        > .description {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: $spacer;
        }
      }
    }

    #edit-panel {
      display: none;
      opacity: 0;
    }
  }

</style>
