<template>
  <div id="single-funder" class="col-md-4 funder" @mouseenter="showEditButton" @mouseleave="hideEditButton">
    <div class="funder" ref="funder">
      <div class="img-container">
        <img :src="funder.img">
      </div>
      <div class="details">
        <div class="name">
          <h3>{{ fullName }}</h3>
        </div>
        <div class="description">
          <p>{{ funder.description }}</p>
        </div>
      </div>
    </div>
    <div class="edit-button" ref="edit_button" @click="showEditPanel">
      <i class="fa fa-edit"></i>
    </div>
    <edit-panel
      id="edit-panel"
      ref="editPanel"
      :update="true"
      :funder="funder"
      @closePanel="hideEditPanel"
    />
  </div>
</template>
<script>
import {TweenMax, TimelineMax, Power4} from 'gsap'
import EditPanel from './EditPanel.vue'

export default {
  name: 'SingleFunder',
  components: {
    EditPanel
  },
  props: {
    funder: {
      default: function() {},
      type: Object
    }
  },
  computed: {
    fullName: function()
    {
      return this.funder.name + ' ' + this.funder.surname
    }
  },
  data: () => ({
    edit_panel: false
  }),
  methods: {
    showEditButton: function()
    {
      if (!this.edit_panel) {
        TweenMax.to(this.$refs.edit_button, .4, {
          opacity: 1,
          display: 'block',
          ease: Power4.easeInOut
        })
      }
    },
    hideEditButton: function()
    {
      TweenMax.to(this.$refs.edit_button, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      })
    },
    showEditPanel: function()
    {
      TweenMax.to(this.$refs.funder, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut,
        onComplete: this.openPanel()
      })
    },
    openPanel: function()
    {
      this.hideEditButton()
      this.$emit('open-edit-panel')
      this.edit_panel = true
    },
    hideEditPanel: function()
    {
      TweenMax.to(this.$refs.funder, .4, {
        opacity: 1,
        display: 'flex',
        ease: Power4.easeInOut,
      })
      this.edit_panel = false
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';

  #single-funder {
    margin-bottom: $spacer * 2;
    position: relative;

    > .funder {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      // position: relative;

      > .img-container {
        width: $spacer * 10;
        height: $spacer * 10;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        > img {
          position: absolute;
          height: 100%;
          width: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      > .details {
        > .name {
          padding-top: $spacer * 2;

          > h3 {
            text-align: center;
          }
        }

        > .description {
          padding-top: $spacer;
        }
      }
    }

    > .edit-button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($gray, .5);
      cursor: pointer;

      display: none;
      opacity: none;

      > i {
        font-size: $font-size-h1 * 2;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    #edit-panel {
      display: none;
      opacity: 0;
    }
  }
</style>
