<template>
  <div id="cart">
    <order-detail :products="products"></order-detail>
  </div>
</template>
<script>
// import braintreeWebDropIn from 'braintree-web-drop-in'
import OrderDetail from './OrderDetail.vue'
export default {
  name: "cart",
  data: () => ({

  }),
  computed: {
    products: function()
    {
      return JSON.parse(localStorage.getItem('cinestore-cart'));
    }
  },
  created() {
  },
  methods: {
  },
  components: {
    OrderDetail
  }
}
</script>
<style lang="scss" scoped>
</style>
