<template>
  <tbody id="order-single-product">
    <tr>
      <td class="align-middle">{{product.quantity}}</td>
      <td class="align-middle">{{product.name}}</td>
      <td class="align-middle">{{product.price.description}}</td>
      <td class="align-middle">€ {{product.price.price}}</td>
      <td class="align-middle">
        <button class="btn btn-danger trash" @click="delete_prod"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
  </tbody>
</template>
<script>
export default {
  name: "order-single-product",
  props: ['product'],
  data: () => ({

  }),
  methods: {
    delete_prod() {
        this.$parent.$emit('product-removed', this.product);
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';
@import '~styles/mixins';

  #order-single-product {
    > tr {
      border-bottom: 1px solid $gray-heading-2;
      background-color: $white;

      > td {
        padding: $spacer;
      }
    }
  }

</style>
