<template>
  <div id="order-title">
    <div class="row pt-5">
      <div class="col pt-5 pl-5 pr-5">
        <h1 align="center"><slot></slot></h1>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-6 offset-md-3">
        <hr>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "order-title",
}
</script>
<style lang="scss" scoped>
</style>
