<template>
  <div id="order-detail">

    <!-- Titolo -->
    <order-title class="pt-5">Dettagli Del Tuo Ordine</order-title>

    <!-- Lista prodotti -->
    <div class="row">
      <div class="col-md-8 offset-md-2 pb-5">
        <h5 class="panel-title">Prodotti</h5>
        <table ref="order-list" class="custom-table">
          <thead>
            <th>Quantità</th>
            <th>Prodotto</th>
            <th>Dettaglio</th>
            <th>Prezzo</th>
            <th></th>
          </thead>
          <order-single-product v-for="product in productsUpdated" :key="product.key" :product="product"></order-single-product>

          <!-- Sub Totale -->
            <!-- <tbody>
              <tr>
                <td class="align-middle" colspan="3"><h5>Sub Totale</h5></td>
                <td class="align-middle" colspan="2">€ {{subTotal}}</td>
              </tr>
            </tbody> -->
            <!-- Spedizioni -->
            <!-- <tbody>
              <tr>
                <td class="align-middle" colspan="3"><h5>Spedizioni</h5></td>
                <td class="align-middle" colspan="2">
                  <a href="#">€ {{shipping}}</a>
                </td>
              </tr>
            </tbody> -->
            <!-- Totale -->
            <!-- <tbody>
              <tr>
                <td class="align-middle" colspan="3"><h4>Totale</h4></td>
                <td class="align-middle" colspan="2"><h4>€ {{total}}</h4></td>
              </tr>
            </tbody> -->
            <!-- Vat -->
            <!-- <tbody>
              <tr>
                <td class="align-middle" colspan="3"><h6>Di cui (22% Iva)</h6></td>
                <td class="align-middle" colspan="2"><h6>€ {{vat}}</h6></td>
              </tr>
            </tbody> -->

          <!-- end  -->
        </table>
        <div class="spacer"></div>
        <h5 class="panel-title">Spedizione</h5>
        <table class="custom-table">
          <thead>
            <th>Corriere</th>
            <th>Consegna</th>
            <th>Dettaglio</th>
            <th>Prezzo</th>
            <th></th>
          </thead>
          <shipping-single v-for="shipping in shippings" :key="shipping.key" :shipping="shipping" :order_quantity="order_quantity"/>
        </table>
        <div class="spacer"></div>
        <h5 class="panel-title">Totale</h5>
        <div class="total">
          <h1>€ {{ total }}</h1>
        </div>
      </div>
    </div>

    <order-title>Dati di Spedizione</order-title>
    <shipping-details :products="productsUpdated" :order="order"></shipping-details>
    <input type="hidden" name="order_id" :value="order_id">

  </div>
</template>
<script>
  import OrderTitle from './OrderTitle.vue'
  import OrderSingleProduct from './OrderSingleProduct.vue'
  import ShippingDetails from './ShippingDetails.vue'
  import ShippingSingle from './ShippingSingle.vue'

  import {EventBus} from '_js/EventBus'

  import _ from 'lodash'
  import axios from 'axios'

  export default {
    name: "order-detail",
    components: {
        OrderSingleProduct,
        OrderTitle,
        ShippingDetails,
        ShippingSingle
    },
    props: {
      products: {
        default: '',
        type: Array
      }
    },
    data: () => ({
        productsUpdated: '',
        order: {
            'tot': '',
            'shipping': '',
            'vat': ''
        },
        order_id: '',
        shippings: [],
        shippingSel: '',
    }),
    computed: {
      subTotal: function()
      {
        var subTot = 0
        _.each(this.productsUpdated, (product) => {
          subTot = subTot + (product.price.price * product.quantity)
        })
        return subTot.toFixed(2)
      },

      shipping: function()
      {
        var shipping = this.shippingSel.price
        var increment = this.shippingSel.increment
        var increments = 0

        _.each(this.productsUpdated, (product) => {
          increments = increments + (increment * product.quantity)
        })

        var shipping_tot = parseFloat(shipping) + parseFloat(increments);

        this.order.shipping = shipping_tot

        return shipping_tot
      },

      total: function()
      {
        var total = parseFloat(this.subTotal) + parseFloat(this.shipping)

        this.order.tot = total.toFixed(2)

        return total.toFixed(2)
      },

      vat: function()
      {
        var sum = parseFloat(this.total) + parseFloat(this.shipping)
        var vat = (sum) - ((sum) / 1.22)

        this.order.vat = vat.toFixed(2)

        return vat.toFixed(2)
      },

      order_quantity: function()
      {
        var quantity = 0
        _.each(this.productsUpdated, (product) => {
          quantity = quantity + product.quantity
        })
        return quantity
      }
    },
    watch: {
      shippingSel: function(newvalue)
      {
        EventBus.$emit('cinestore-shipping-toggle', newvalue)
      }
    },
    created() {
      this.productsUpdated = this.products
    },
    mounted() {
      //do something after mounting vue instance
      var vue = this
      this.$on('order-saved', order_id => {
        vue.propagate_order_saved(order_id)
      })

      this.$on('product-removed', product => {
        vue.remove_product(product)
      })

      this.getShippings()

      EventBus.$on('cinestore-shipping-on', shipping => {
        if (this.shippingSel.id != shipping.id) {
          // spengo il vecchio shipping
          EventBus.$emit('cinestore-shipping-off', this.shippingSel)

          // assegno il nuovo shipping
          this.shippingSel = shipping
        }
      })


      this.order = {
        'tot': this.total,
        'shipping': this.shipping,
        'vat': this.vat
      }
    },
    methods: {
      propagate_order_saved: function(order_id)
      {
        this.order_id = order_id
        console.log('ordine ',order_id)
        localStorage.setItem('cinestore-order', order_id)
        $('#order_id').val(order_id)
      },
      remove_product: function(product)
      {
        this.productsUpdated = this.productsUpdated.filter(function(value){
          return value.id != product.id || value.price != product.price
        })

        if (this.productsUpdated.length == 0) {
          localStorage.removeItem('cinestore-cart')
        } else {
          localStorage.setItem('cinestore-cart', JSON.stringify(this.productsUpdated))
        }
      },
      getShippings: function()
      {
        axios.get('/cinestore/shippings')
          .then(response => {
            this.shippings = response.data
          })
      }
    }
  }
</script>
<style lang="scss" scoped>
@import '~styles/variables';
@import '~styles/mixins';

  #order-detail {

    .panel-title {
      padding-bottom: $spacer / 2;
      color: $gray-heading-2;
    }

    .spacer {
      padding: $spacer;
    }

    .custom-table {
      width: 100%;
      background-color: $gray-heading-2;
      overflow: hidden;
      border: 2px solid $gray-heading-2;
      @include border-radius($border-radius);

      > thead {
        background-color: $gray-heading;
        @include border-top-radius($border-radius);
        border-bottom: 1px solid $gray-heading-2;

        > th {
          // font-weight: $font-weight-normal;
          padding: $spacer;
        }
      }

      > tbody {
        > tr {
          border-bottom: 1px solid $gray;
          background-color: $white;

          > td {
            padding: $spacer;
          }
        }
      }
    }
  }

</style>
