<template>
  <div id="product-list">

  </div>
</template>
<script>
export default {
  name: "product-list",
  props: ['products'],
  computed: {
    productsParsed: function()
    {
      return JSON.parse(this.products)
    }
  },
  data: () => ({
    productsUpdated
  }),
  created() {
    //do something after creating vue instance
    this.productsUpdated = this.productsParsed;
  }
}
</script>
<style lang="scss" scoped>
</style>
