<template>
  <tbody id="shipping-single">
    <tr>
      <td ref="logo"></td>
      <td>{{ shipping.timing }}</td>
      <td>{{ shipping.description }}</td>
      <td>€ {{ this.shippingPrice }}</td>
      <td>
        <div
          class="selector"
          @click="selectShipping"
          ref="selector"
        >
          <i class="fa fa-check-circle"></i>
        </div>
      </td>
    </tr>
  </tbody>
</template>
<script>
import {EventBus} from '_js/EventBus'

export default {
  name: 'ShippingSingle',
  props: {
    shipping: {
      default: '',
      type: Object
    },
    order_quantity: {
      default: '',
      type: [String, Number]
    }
  },
  data: () => ({
    selected: {
      default: false,
      type: Boolean
    },
    shippingPrice: ''
  }),
  computed: {
    // shippingPrice: function()
    // {
    //   console.log(this.order_quantity);
    //   return (this.order_quantity * this.shipping.increment) + this.shipping.price
    // }
  },
  watch: {
    selected: function(newvalue)
    {
      if (newvalue) {
        this.$refs.selector.classList.add('selected')
        EventBus.$emit('cinestore-shipping-on', this.shipping)
      } else {
        this.$refs.selector.classList.remove('selected')
        EventBus.$emit('cinestore-shipping-off', this.shipping)
      }
    },
    order_quantity: function(newvalue)
    {
      console.log(newvalue);
      var shipping = (parseFloat(newvalue) * parseFloat(this.shipping.increment)) + parseFloat(this.shipping.price)
      this.shippingPrice = shipping.toFixed(2)
    }
  },
  methods: {
    selectShipping: function()
    {
      if (!this.selected) {
        this.selected = true
      }
    }
  },
  mounted()
  {
    this.$refs.logo.innerHTML = this.shipping.svg_logo

    if (this.shipping.default) {
      this.selected = true
    } else {
      this.selected = false
    }

    EventBus.$on('cinestore-shipping-off', shipping => {
      if (shipping.id == this.shipping.id) {
        this.selected = false
      }
    })

    var shipping = (parseFloat(this.order_quantity) * parseFloat(this.shipping.increment)) + parseFloat(this.shipping.price)
    this.shippingPrice = shipping.toFixed(2)
  }
}
</script>
<style lang="scss" scoped>
  @import '~styles/variables';
  @import '~styles/mixins';

    #shipping-single {
      > tr {
        border-bottom: 1px solid $gray-heading-2;
        background-color: $white;

        > td {
          padding: $spacer;

          .selector {
            position: relative;
            width: $spacer * 1.25;
            height: $spacer * 1.25;
            border: 1px solid $gray-heading-2;
            @include border-radius(50%);
            cursor: pointer;

            > i {
              display: none;
            }

            &.selected {
              border-color: $green;

              > i {
                display: block;
                position: absolute;
                top: calc(50%);
                left: calc(50% + 2px);
                transform: translate(-50%, -50%);
                color: $green;
                font-size: $font-size-base;
              }
            }
          }
        }
      }
    }
</style>
