<template>
  <div id="shipping-details" class="row">
    <div class="col-md-8 offset-md-2">
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <h6>Nome</h6>
              <input type="" name="name" class="form-control" v-model="name" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <h6>Cognome</h6>
              <input type="" name="surname" class="form-control" v-model="surname" placeholder="">
            </div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="col-md-6">
            <div class="form-group">
              <h6>Telefono</h6>
              <input type="" name="phone" class="form-control" v-model="phone" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <h6>Email</h6>
              <input type="" name="email" class="form-control" v-model="email" placeholder="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <h6>Indirizzo</h6>
          <input type="" name="address" class="form-control" v-model="address" placeholder="">
        </div>
        <div class="row pb-4">
          <div class="col-md-4">
            <div class="form-group">
              <h6>CAP</h6>
              <input type="" name="CAP" class="form-control" v-model="CAP" placeholder="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <h6>Città</h6>
              <input type="" name="city" class="form-control" v-model="city" placeholder="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <h6>Paese</h6>
              <input type="" name="state" class="form-control" v-model="state" placeholder="">
            </div>
          </div>
        </div>

        <!-- Company check -->

        <div class="row">
          <div class="col text-center">
            <p ref="btn" @click="show_company"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> L'indirizzo di spedizione coincide con quello di fatturazione</p>
          </div>
        </div>
        <div id="billing" ref="company_info">
          <order-title>Dati di Fatturazione</order-title>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <h6>Nome</h6>
                <input type="" name="b_name" class="form-control" v-model="b_name" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <h6>Cognome</h6>
                <input type="" name="b_surname" class="form-control" v-model="b_surname" placeholder="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <h6>Ragione Sociale</h6>
            <input type="" name="company_name" class="form-control" v-model="company_name">
          </div>
          <div class="form-group pb-4">
            <h6>C.F. o P.IVA</h6>
            <input type="" name="vat_num" class="form-control" v-model="vat_num">
          </div>
          <div class="row pb-4">
            <div class="col-md-6">
              <div class="form-group">
                <h6>Telefono</h6>
                <input type="" name="b_phone" class="form-control" placeholder="" v-model="b_phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <h6>Email</h6>
                <input type="" name="b_email" class="form-control" placeholder="" v-model="b_email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <h6>Indirizzo</h6>
            <input type="" name="b_address" class="form-control" placeholder="" v-model="b_address">
          </div>
          <div class="row pb-4">
            <div class="col-md-4">
              <div class="form-group">
                <h6>CAP</h6>
                <input type="" name="b_CAP" class="form-control" placeholder="" v-model="b_CAP">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <h6>Città</h6>
                <input type="" name="b_city" class="form-control" placeholder="" v-model="b_city">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <h6>Paese</h6>
                <input type="" name="b_state" class="form-control" placeholder="" v-model="b_state">
              </div>
            </div>
          </div>
        </div>


        <!-- Procede To Payment -->
        <div ref="payment" class="d-flex justify-content-center pb-5">
          <button class="btn btn-primary" @click="save_order"><i class="fa fa-paypal" aria-hidden="true"></i> Procedi Con Il Pagamento</a></button>
        </div>
      </fieldset>
    </div>
  </div>
</template>
<script>
import OrderTitle from './OrderTitle.vue'

import {TweenMax, Power4} from 'gsap'
import axios from 'axios'

export default {
  name: "shipping-details",
  props: ['products','order'],
  data: () => ({
      shipping_check: false,

      name: '',
      surname: '',
      phone: '',
      email: '',
      address: '',
      CAP: '',
      city: '',
      state: '',
      same_as_shipping: '',

      company_name: '',
      vat_num: '',
      b_name: '',
      b_surname: '',
      b_phone: '',
      b_email: '',
      b_address: '',
      b_CAP: '',
      b_city: '',
      b_state: '',
  }),
  mounted() {
    //do something after creating vue instance
    // Debug -> this.save_order()
  },
  methods: {
    show_company() {

        var icon = this.$refs.btn.childNodes[0];

        if (this.shipping_check == false)
        {
            var t1 = new TimelineMax();
            t1.to(this.$refs.company_info, .4, {
                opacity: 1,
                display: 'inherit',
                easing: Power4.easeInOut
            });
            this.shipping_check = true;
            icon.classList.remove('fa-check-cicrle');
            icon.classList.remove('text-success');
            icon.classList.add('fa-times-circle-o');
        } else {
            var t1 = new TimelineMax();
            t1.to(this.$refs.company_info, .4, {
                opacity: 0,
                display: 'none',
                easing: Power4.easeInOut
            });
            this.shipping_check = false;
            icon.classList.remove('fa-times-circle-o');
            icon.classList.add('text-success');
            icon.classList.add('fa-check-cicrle');
        }
    },

    save_order()
    {
        var data = {};

        if (this.shipping_check == false) {
            data = {
                '_token' : $('input[name=_token]').val(),
                'name' : this.name,
                'surname' : this.surname,
                'phone' : this.phone,
                'email' : this.email,
                'address' : this.address,
                'CAP' : this.CAP,
                'city' : this.city,
                'state' : this.state,
                'same_as_shipping' : 1,
                'products': this.products,
                'order': this.order,
            };
        } else {
            data = {
              'name' : this.name,
              'surname' : this.surname,
              'phone' : this.phone,
              'email' : this.email,
              'address' : this.address,
              'CAP' : this.CAP,
              'city' : this.city,
              'state' : this.state,
              'company_name' : this.company_name,
              'vat_num' : this.vat_num,
              'b_name' : this.b_name,
              'b_surname' : this.b_surname,
              'b_phone' : this.b_phone,
              'b_email' : this.b_email,
              'b_address' : this.b_address,
              'b_CAP' : this.b_CAP,
              'b_city' : this.b_city,
              'b_state' : this.b_state,
              'same_as_shipping' : 0,
              'products': this.products,
              'order': this.order,
            };
        }

        // Debug 
        // var data = {
        //   name: 'simone',
        //   surname: 'pozzobon',
        //   phone: '3402967333',
        //   email: 'info@simonepozzobon.com',
        //   address: 'via puccini, 10',
        //   CAP: '30030',
        //   city: 'Milano',
        //   state: 'Italia',
        //   same_as_shipping: 1,
        //   'products': this.products,
        //   'order': this.order,
        // }

        var vue = this;

        axios.post('/cinestore/invia-ordine', data)
        .then(response => {
          console.log('--------');
          console.log('ORDER_ID');
          console.log(response);
          console.log('--------');
          vue.$parent.$emit('order-saved', response.data);

          $('.form-control-danger').removeClass('form-control-danger');
          $('.has-danger').removeClass('has-danger');
          $('.form-control-feedback').remove();

          // Aggiungo la classe per il verde
          $('#shipping-details .form-group').children('input').removeClass('form-control-danger').addClass('form-control-success');
          $('#shipping-details .form-group').addClass('has-success');

          // Rimuovo la possibilità di modificare le informazioni una volta inviate con successo
          $('#shipping-details fieldset').attr('disabled', 'disabled');

          $('.trash').addClass('disabled');
          this.$refs.payment.remove();

          // Faccio vedere il Pagamento
          $('#braintree').removeClass('d-none');
        })
        .catch(errors => {

          // Pulisco gli errori precedenti in caso di seconda call
          $('.form-control-danger').removeClass('form-control-danger');
          $('.has-danger').removeClass('has-danger');
          $('.form-control-feedback').remove();

          // Per ogni errore coloro il form e stampo un messaggio
          $.each(errors.response.data.errors, function(k, v) {
            // Assegna Il colore rosso
            console.log(k);
            console.log(v);
            var elem = $('#shipping-details input[name='+k+']');
            elem.addClass('form-control-danger');
            elem.parent().addClass('has-danger');
            elem.parent().append('<div class="form-control-feedback">Questo campo è richiesto</div>');
          });

        });
    },

    check_field(value)
    {
        if (value == null || value == '') {
          return false;
        } else {
          return true;
        }
    }
  },
  components: {
    OrderTitle
  }
}
</script>
<style lang="scss" scoped>

  #billing {
    display: none;
    opacity: 0;
  }

</style>
