.img-container {
  box-shadow: inset 0px -5px 19px 0px rgba(50, 50, 50, 0.125);
  min-height: 320px;
  height: 90vh;
}

.header-wrapper {
  position: relative;
  height: 100vh;
}

.header-wrapper img {
  height: 100vh;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
