<template>
  <div id="order-products">
    <div class="row">
      <div class="col-md-8">
        <div class="container-fluid bg-faded p-4">
          <h3>Categoria: {{categorySelected.name}}</h3>
          <hr>
          <draggable v-model="products">
            <single-product v-for="product in products" :key="product.key" :product="product"></single-product>
          </draggable>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-fluid bg-faded p-4">
          <h3>Scegli di quale categoria</h3>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item" v-for="category in categoriesParsed" :key="category.key">
              <a class="nav-link active" href="#" @click="select_category(this, category)">{{category.name}}</a>
            </li>
          </ul>
          <hr>
          <a href="#" class="btn btn-primary btn-block" @click="update_order"><i class="fa fa-floppy-o"></i> Salva Ordine Prodotti</a>
          <p class="pt-4 text-muted"><i><i class="fa fa-exclamation-triangle"></i>L'ordinamento dei prodotti va salvato <strong>prima</strong> di cambiare categoria</i></p>
          <div ref="alerts">
            <div class="" v-for="message in status_messages" :key="message.key">
              <div :class="'alert alert-'+message.status+' alert-dismissible fade show'" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{message.strong}}</strong><br>
                {{message.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import draggable from 'vuedraggable'
import SingleProduct from './SingleProduct.vue'

import axios from 'axios'

export default {
  name: "order-products",
  props: ['categories'],
  computed: {
    categoriesParsed: function()
    {
        return JSON.parse(this.categories);
    }
  },
  data: () => ({
      categorySelected: {
        name: ''
      },
      products: [{
        id: '',
        description: '',
        media: '',
        name: ''
      }],
      status_messages: []
  }),
  methods: {
      select_category(e, category)
      {
          this.load_products(category.id);
          this.categorySelected = category;
      },

      load_products(id)
      {
          var vue = this;

          var formData = new FormData();
          formData.append('category_id', id);

          axios.post('/admin/cinestore/order-products', formData)
          .then(response => {
            console.log(response.data);
            vue.products = response.data;
          })
          .catch(errors => {
            console.log(errors);
          });
      },

      update_order(e)
      {
          e.preventDefault();
          var vue = this;

          var category = this.categorySelected;

          var formData = new FormData();
          formData.append('category_id', this.categorySelected.id);
          formData.append('products', JSON.stringify(this.products));

          axios.post('/admin/cinestore/save_order', formData)
          .then(response => {
              console.log(response);
              if (response.data.success) {
                  var message = {
                    status: 'success',
                    strong: 'Salvato!',
                    text: 'L\'ordine dei prodotti della categoria '+category.name+' è stato salvato con successo'
                  };
                  vue.status_messages.push(message);
              } else {
                  var message = {
                    'status': 'danger',
                    'strong': 'Ooops...',
                    'text': 'Qualcosa è andato storto!!!'
                  }
                  vue.status_messages.push(message);
              }
          })
          .catch(errors => {
              console.log(errors);
          });
      },
  },
  components: {
    SingleProduct,
    draggable
  }
}
</script>
<style lang="scss" scoped>
</style>
