<template>
  <div id="single-product">
    <div class="row">
      <div class="col-md-1">
        {{product.id}}
      </div>
      <div class="col-md-2">
        <img :src="product.image" alt="" width="57" class="img-fluid">
      </div>
      <div class="col-md-6">
        {{product.name}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "single-product",
  props: ['product'],
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
</style>
