<template lang="html">
    <div class="row no-gutters pb-5">
      <div class="col">
        <div class="row">
          <div class="col px-5">
            <h1 align="center">News</h1>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-6 offset-3">
            <hr>
          </div>
        </div>
        <div class="row px-5">
          <div class="col">
            <div class="container-fluid">
                <swiper id="swiper" :options="swiperOptions">
                    <swiper-slide v-for="singleNews in newsParsed" :key="singleNews.id">
                        <single-slide :img="singleNews.img" :title="singleNews.title" :slug="singleNews.slug"/>
                    </swiper-slide>
                    <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                    <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import SingleSlide from './SingleSlide.vue'
export default {
    name: 'NewsSlider',
    components: {
        SingleSlide,
        swiper,
        swiperSlide,
    },
    props: {
        news: {
            type: String,
            default: ''
        }
    },
    computed: {
        newsParsed: function() {
            return JSON.parse(this.news)
        },
        shortenTitle: function() {

        }
    },
    data: () => ({
        swiperOptions: {
            autoplay: true,
            loop: true,
            speed: 300,
            slidesPerView: 3,
            spaceBetween: 30,
            keyboard: {
                enabled: true,
            },
            lazy: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            },
            preloadImages: false,
        }
    }),

}
</script>

<style lang="scss">
</style>
