<template lang="html">
    <div class="">
        <img class="img-fluid d-block w-100" :src="img" :alt="title">
        <h2 class="text-default pt-3 text-center">
            {{ shortenTitle }}
        </h2>
        <div class="button text-center">
            <a :href="'/news/'+slug" class="btn btn-primary">
                <i class="fa fa-hand-o-right"></i> Vai alla News
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SingleSlide',
    props: {
        img: {
            type: String,
            default: '',
        },
        link: {
            type: String,
            default: '',
        },
        slug: {
            type: String,
            default: 'not-found',
        },
        title: {
            type: String,
            default: '',
        }
    },
    computed: {
        shortenTitle: function() {
            if (this.title.length > 50) {
                return this.title.substring(0, 47) + '...'
            }
            return this.title
        }
    }
}
</script>

<style lang="css">
</style>
