<template lang="html">
    <div id="content-filler-bottom">
        <h5 v-if="showTitle">Scopri di più</h5>
        <hr v-if="showTitle"/>
        <horizontal-content
            v-for="element in elements"
            :key="element.id"
            :element="element"/>
    </div>
</template>

<script>
import EventBus from '_js/EventBus'
import HorizontalContent from './HorizontalContent.vue'

export default {
    name: 'ContentFillerBottom',
    components: {
        HorizontalContent,
    },
    data: () => ({
        elements: [],
    }),
    computed: {
        showTitle: function() {
            var response = this.elements.length > 0 ? true : false
            return response
        }
    },
    mounted() {
        EventBus.$on('content-filler-ready', () => {
            this.ready = true
            console.log('---> Bottom Pronto!')
        })

        EventBus.$on('content-goes-bottom', (content) => {
            if (content) {
                this.elements.push(content)
            }
        })
    }
}
</script>

<style lang="scss">
</style>
