<template lang="html">
  <div id="content-filler-sidebar">
      <vertical-content
          v-for="element in elements"
          :key="element.id"
          :element="element"/>
  </div>
</template>

<script>
import EventBus from '_js/EventBus'
import VerticalContent from './VerticalContent.vue'

export default {
    name: 'ContentFillerSidebar',
    components: {
      VerticalContent
    },
    data: () => ({
        elements: [],
    }),
    mounted() {
        EventBus.$on('content-filler-ready', () => {
            this.ready = true
            console.log('---> Sidebar Pronta!')
        })

        EventBus.$on('content-goes-sidebar', (content) => {
            if (content) {
                this.elements.push(content)
            }
        })
    }
}
</script>

<style lang="css">
</style>
