<template lang="html">
    <div></div>
</template>

<script>
import EventBus from '_js/EventBus'

export default {
    name: 'ContentFillerMain',
    props: {
        featured_director: {
            default: function() {},
            type: String,
        },
        featured_page: {
            default: function() {},
            type: String,
        },
        featured_exhibit: {
            default: function() {},
            type: String,
        },
        featured_exhibition: {
            default: function() {},
            type: String,
        },
        featured_product: {
            default: function() {},
            type: String,
        }
    },
    data: function() {
        return {
            availableContent: [],
            director: false,
            page: false,
            exhibit: false,
            exhibition: false,
            product: false,
            ready: false,
            sidebar: {},
            shows: {},
        }
    },
    computed: {
        parseDirector: function() {
            if (this.featured_director) {
                this.director = true
                return JSON.parse(this.featured_director)
            }
            return false
        },
        parsePage: function() {
            if (this.featured_page) {
                this.page = true
                return JSON.parse(this.featured_page)
            }
            return false
        },
        parseExhibit: function() {
            if (this.featured_exhibit) {
                this.exhibit = true
                return JSON.parse(this.featured_exhibit)
            }
            return false
        },
        parseExhibition: function() {
            if (this.featured_exhibition) {
                this.exhibition = true
                return JSON.parse(this.featured_exhibition)
            }
            return false
        },
        parseProduct: function() {
            if (this.featured_product) {
                this.product = true
                return JSON.parse(this.featured_product)
            }
            return false
        },
    },
    methods: {
        init: function() {
            if (this.parseDirector) {
                this.availableContent.push(this.parseDirector)
            }
            if (this.parsePage) {
                this.availableContent.push(this.parsePage)
            }
            if (this.parseExhibit) {
                this.availableContent.push(this.parseExhibit)
            }
            if (this.parseExhibition) {
                this.availableContent.push(this.parseExhibition)
            }
            if (this.parseProduct) {
                this.availableContent.push(this.parseProduct)
            }
        },
        getHeight: function() {
            if (this.availableContent.length > 0) {
                var windowEl = document.documentElement.clientWidth
                var shows = this.shows.clientHeight
                var sidebar = this.sidebar.clientHeight
                var difference = shows - sidebar

                console.log('1 ---> la differenza è ' + difference)

                if (parseInt(difference) > 0) {
                    console.log('2 --> il contenuto va nella sidebar')
                    EventBus.$emit('content-goes-sidebar', this.availableContent[0])
                    this.availableContent.splice(0, 1)
                } else {
                    console.log('2 --> il contenuto va giù')
                    EventBus.$emit('content-goes-bottom', this.availableContent[0])
                    this.availableContent.splice(0, 1)
                }
            }
        }
    },
    mounted: function() {
        this.shows = document.getElementById('shows')
        this.sidebar = document.getElementById('show-sidebar')

        EventBus.$on('content-filler-ready', () => {
            console.log('----> Core Principale Pronto!')
            this.init()
            this.getHeight()
            this.ready = true
        })

        window.addEventListener('resize', () => {
            console.log('finestra ridimensionata')
            this.getHeight()
        })

        EventBus.$on('content-filler-resized', () => {
            console.log('evento ricevuto')
            if (this.ready) {
                this.getHeight()
            }
        })

        // this.shows.addEventListener('onresize', () => {
        //     console.log('centrale ridimensionata')
        //     this.getHeight()
        // })
        //
        // this.sidebar.addEventListener('onresize', () => {
        //     console.log('sidebar ridimensionata')
        //     this.getHeight()
        // })
    }
}
</script>

<style lang="css">
</style>
