<template lang="html">
    <div :id="'horizontal-content-'+element.id">
        <div class="row show-single">
            <div class="col-md-2">
                <h3 id="message" v-if="message.length > 0">{{ this.message }}</h3>
                <p>{{ elementType }}</p>
                <!-- <p v-if="this.details">
                    Lunedì<br>
                    15 Aprile
                </p> -->
            </div>
            <div class="col-md-4">
                <img :src="element.landscape" class="img-fluid w-100">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <h3>
                            <a href="#">{{ element.title }}</a>
                        </h3>
                    </div>
                </div>
                <!-- <h6>location</h6> -->
                <p class="pt-3">{{ element.description }}</p>
                <div class="button">
                    <a href="#" class="btn btn-primary"><i class="fa fa-hand-o-right"></i> {{ this.button }}</a>
                </div>
            </div>
        </div>
        <div class="row pb-3 show-single-sep">
            <div class="col-md-8 offset-md-2">
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
import {EventBus} from '_js/EventBus'

export default {
    name: 'HorizontalContent',
    props: {
        element: {
            default: function() {},
            type: Object
        }
    },
    data: () => ({
        button: '',
        message: '',
        details: false,
    }),
    computed: {
        elementType: function() {
            switch (this.element.type) {
                case 'product':
                    this.button = 'Vai al prodotto'
                    this.message = 'Dal'
                    return 'Cinestore'
                    break;
                case 'exhibition':
                    this.button = 'Vai alla rassegna'
                    this.message = 'Dalle'
                    // this.details = true
                    return 'Rassegne'
                    break;
                case 'exhibit':
                    this.button = 'Vai all\'esposizione'
                    this.message = 'Dalle'
                    // this.details = true
                    return 'Esposizioni'
                    break;
                case 'page':
                    this.button = 'Vai alla pagina'
                    this.message = 'Scopri di più dalla'
                    return 'Fondazione'
                    break;
                case 'director':
                    this.button = 'Vai all\'evento'
                    this.message = 'Dal'
                    // this.details = true
                    return 'Regista'
                    break;
            }
        }
    }
}
</script>

<style lang="scss">

    #message {
        padding-bottom: 0;
        margin-bottom: 0;
    }

</style>
