<template lang="html">
    <div class="row pb-5">
        <div class="col">
            <h5>{{ elementType }}</h5>
            <hr>
            <h5 class="mt-3">
                <a href="#">{{ element.title }}</a>
            </h5>
            <img :src="element.landscape" :alt="element.title" class="img-fluid">
            <p class="pt-2">{{ element.description }}</p>
            <a href="#" class="btn btn-primary">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i> Vai al contenuto
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'VerticalContent',
    props: {
        element: {
            default: function() {},
            type: Object
        }
    },
    data: () => ({
        button: '',
        message: '',
        details: false,
    }),
    computed: {
        elementType: function() {
            switch (this.element.type) {
                case 'product':
                    this.button = 'Vai al prodotto'
                    this.message = 'Dal'
                    return 'Dal Cinestore'
                    break;
                case 'exhibition':
                    this.button = 'Vai alla rassegna'
                    this.message = 'Dalle'
                    // this.details = true
                    return 'Dalle Rassegne'
                    break;
                case 'exhibit':
                    this.button = 'Vai all\'esposizione'
                    this.message = 'Dalle'
                    // this.details = true
                    return 'Dalle Esposizioni'
                    break;
                case 'page':
                    this.button = 'Vai alla pagina'
                    this.message = 'Scopri di più dalla'
                    return 'Scopri di più'
                    break;
                case 'director':
                    this.button = 'Vai all\'evento'
                    this.message = 'Dal'
                    // this.details = true
                    return 'Incontro con il Regista'
                    break;
            }
        }
    }
}
</script>

<style lang="css">
</style>
