<template>
  <div id="funders">
    <div class="funders-list row">
      <single-funder
        v-for="funder in fundersArr"
        :key="funder.key"
        :funder="funder"
        class="single-funder"
      />
    </div>
    <div id="funder-details" class="funder-details row">
      <div class="col-md-4">
          <img :src="funderSel.img" class="img-fluid rounded-circle"/>
      </div>
      <div class="name col-md-8">
        <div class="close" @click="closePanel">
          <i class="fa fa-times"></i>
        </div>
        <h3>{{funderSel.name}} {{ funderSel.surname }}</h3>
        <hr>
        <p>{{ funderSel.description }}</p>
      </div>
      <div class="description col-md-8 offset-md-4">

      </div>
    </div>
  </div>
</template>
<script>
import SingleFunder from './SingleFunder.vue'
import {EventBus} from '_js/EventBus'
import {TimelineMax, Power4} from 'gsap'

export default {
  name: 'Funders',
  components: {
    SingleFunder
  },
  props: {
    funders: {
      default: '',
      type: String
    }
  },
  data: () => ({
    funderSel: {
      name: '',
      surname: '',
      description: '',
      img: ''
    }
  }),
  computed: {
    fundersArr: function()
    {
      return JSON.parse(this.funders)
    }
  },
  mounted()
  {
    EventBus.$on('show-funder-detail', funder => {
      this.funderSel = funder
      this.showPanel()
    })
  },
  methods: {
    showPanel: function()
    {
      var t1 = new TimelineMax()
      t1.staggerTo('.single-funder', .4, {
        opacity: 0,
        ease: Power4.easeInOut
      }, .1)
      .set('.single-funder', {
        display: 'none'
      })
      .set('#funder-details', {
        display: 'flex'
      })
      .fromTo('#funder-details', .4, {
        opacity: 0,
        scale: 0.9,
        ease: Power4.easeInOut
      }, {
        opacity: 1,
        scale: 1,
        ease: Power4.easeInOut
      })

      var t2 = new TimelineMax()
      t2.to('.funders-list', 1, {
        scale: .9,
        ease: Power4.easeInOut
      })

      var master = new TimelineMax()
      master.add(t1)
      master.add(t2, 0)
      master.play()

    },
    closePanel: function()
    {
      var t1 = new TimelineMax()
      t1.to('#funder-details', .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      })
      .staggerTo('.single-funder', .4, {
        opacity: 1,
        scale: 1,
        display: 'block',
        ease: Power4.easeInOut
      }, .1)

      var t2 = new TimelineMax()
      t2.to('.funders-list', .4, {
        scale: 1,
        ease: Power4.easeInOut
      })

      var master = new TimelineMax()
      master.add(t1)
      master.add(t2, 0)
      master.play()
    },
  }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';

  #funders {
    > #funder-details {
      margin-top: $spacer * 2;
      margin-bottom: $spacer * 2;

      display: none;
      opacity: 0;

      > div .image {
        position: relative;
        border-radius: 50%;
        overflow: hidden;

        > img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      > .name {
        > h3 {
          text-align: center;
        }
      }
    }
  }

</style>
