<template>
  <div id="single-funder" class="col-md-4" @mouseenter="showInfo" @mouseleave="hideInfo">
    <div class="image" @click="showPanel">
      <img :src="funder.img">
      <div class="hover-img" ref="hover">
        <i class="fa fa-info" />
      </div>
    </div>
    <div class="name">
      <h3>{{ funder.name }} {{ funder.surname }}</h3>
    </div>
  </div>
</template>
<script>
import {TweenMax, Power4} from 'gsap'
import {EventBus} from '_js/EventBus'
export default {
  name: 'SingleFunder',
  props: {
    funder: {
      type: Object,
      default: function() {}
    }
  },
  data: () => ({

  }),
  methods: {
    showInfo: function()
    {
      TweenMax.to(this.$refs.hover, .4, {
        opacity: 1,
        display: 'block',
        ease: Power4.easeInOut
      })
    },
    hideInfo: function()
    {
      TweenMax.to(this.$refs.hover, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      })
    },
    showPanel: function()
    {
      EventBus.$emit('show-funder-detail', this.funder)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';

  #single-funder {
    margin-bottom: $spacer * 4;

    > .image {
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      > img {
        max-width: 100%;
      }

      > .hover-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($gray-dark, .5);
        cursor: pointer;

        display: none;
        opacity: 0;

        > i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-size: $font-size-h2;
        }
      }
    }

    > .name {
      margin-top: $spacer * 2;

      > h3 {
        text-align: center;
      }
    }
  }

</style>
