#carouselExampleIndicators .carousel-caption {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next,
.carousel-custom .carousel-control-prev,
.carousel-custom .carousel-control-next  {
  width: 8%;
  min-width: 40px;
  font-size: 2rem;
}

#carouselExampleIndicators .carousel-indicators {
  /*right: 1.6rem;*/
  bottom: -1.6rem;
}

#carouselExampleIndicators .carousel-indicators .active {
  background-color: #292b2c;
}

#carouselExampleIndicators .carousel-indicators li {
  background-color: rgba(41, 43, 44, .5)
}

#carouselExampleIndicators .carousel-caption,
#carouselExampleIndicators .carousel-overlay {
  background: transparent !important;
}

@media (min-width: 768px) {

    /* show 3 items */
    #carouselExampleIndicators .carousel-inner .active,
    #carouselExampleIndicators .carousel-inner .active + .carousel-item,
    #carouselExampleIndicators .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExampleIndicators .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #carouselExampleIndicators .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item-next,
    #carouselExampleIndicators .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    #carouselExampleIndicators .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.33333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    #carouselExampleIndicators .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carouselExampleIndicators .carousel-item-next.carousel-item-left + .carousel-item,
    #carouselExampleIndicators .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #carouselExampleIndicators .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    #carouselExampleIndicators .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    #carouselExampleIndicators .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carouselExampleIndicators .carousel-item-prev.carousel-item-right + .carousel-item,
    #carouselExampleIndicators .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #carouselExampleIndicators .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
