body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase !important;
  letter-spacing: 0;
}

a.disabled:hover {
  text-transform: none;
  text-decoration: none;
  cursor: no-drop;
}

.text-default {
  color: #292b2c !important;
}

.bg-dark-gray {
  background-color: #eee;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.main-nav {

}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
  box-shadow: 0px -2px 19px 0px rgba(50, 50, 50, 0.125);
}

.cinestore-nav {
  position: fixed;
  width: 100%;
  z-index: 8999;
  box-shadow: 0px -2px 19px 0px rgba(50, 50, 50, 0.125);
}

@include media-breakpoint-up(sm) {
  .cinestore-nav {
    min-height: 4.5rem;
  }
}

.navbar-brand {
  /*font-family: 'Montserrat', sans-serif;
  font-weight: 500;*/
  line-height: 1.1;
  font-size: 2rem;
}

.nav-item {
  font-family: "ff-good-headline-web-pro-con", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-item a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  font-size: 1.75rem;
}

.cinestore-nav a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  font-size: 1.5rem;
}

#search-button-listener {
  margin-top: 0.6rem
}

.carousel-custom .carousel-item.active h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1s opacity ease-in-out .1s;;
     -moz-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1s opacity ease-in-out .1s;
      -ms-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1s opacity ease-in-out .1s;
       -o-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1s opacity ease-in-out .1s;
          transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1s opacity ease-in-out .1s;
}

.carousel-custom .carousel-item.active a.btn {
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1.2s opacity ease-in-out .1s;
     -moz-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1.2s opacity ease-in-out .1s;
      -ms-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1.2s opacity ease-in-out .1s;
       -o-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1.2s opacity ease-in-out .1s;
          transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, 1.2s opacity ease-in-out .1s;
}

.carousel-custom .carousel-item h1 {
  opacity: 0;
  transform: translateY(250px);
  -webkit-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .5s opacity ease-in-out .1s;
     -moz-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .5s opacity ease-in-out .1s;
      -ms-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .5s opacity ease-in-out .1s;
       -o-transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .5s opacity ease-in-out .1s;
          transition: 0.6s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .5s opacity ease-in-out .1s;
}

.carousel-custom .carousel-item a.btn {
  opacity: 0;
  transform: translateY(200px);
  -webkit-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .3s opacity ease-in-out .1s;
     -moz-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .3s opacity ease-in-out .1s;
      -ms-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .3s opacity ease-in-out .1s;
       -o-transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .3s opacity ease-in-out .1s;
          transition: .4s transform cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, .3s opacity ease-in-out .1s;
}

.carousel-item.active {
  display: initial;
}

.carousel-caption {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
  color: #292b2c;
}



@media (min-width: 1024px) {
  /* Tablet */

  .carousel-item.active{
    display: flex;
  }

  .carousel-caption {
    position: absolute;
    color: #fff;
  }

  .carousel-overlay {
    position: absolute;
    width: 100%;
    height: 40%;
    opacity: 0.5;
    z-index: 2;
    background: rgba(42, 44, 45, 0.2); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(42, 44, 45, 0.3), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(42, 44, 45, 0.3), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(42, 44, 45, 0.3), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(42, 44, 45, 0.3), transparent); /* Standard syntax (must be last) */
  }

  .carousel-caption {
    background: rgba(42, 44, 45, 0.2); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, rgba(42, 44, 45, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(42, 44, 45, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(42, 44, 45, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(42, 44, 45, 0.3)); /* Standard syntax (must be last) */
  }

}

/**
 *
 * SEARCH OVERLAY
 *
 */

.fullscreen-search-overlay #fullscreen-search-wrapper #fullscreen-searchform input[type=submit] {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: transparent;
  color: transparent;
  border: 0;
  right: 0;
  top: 0;
}
#fullscreen-searchform:focus{
  outline: none;
  border: none;
}

.fullscreen-search-overlay #fullscreen-search-wrapper #fullscreen-searchform .fullscreen-search-icon {
  font-size: 25px;
  position: absolute;
  right: 15px;
  width: 25px;
  top: 30px;
  color: #fff;
  color: rgba(255, 255, 255, .2);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.fullscreen-search-icon:hover,
.fullscreen-search-icon:focus{
  border: none;
  outline: none;
  color: #fff !important;
  -webkit-transition: transform ease-out .2s;
  -moz-transition: transform ease-out .2s;
  -ms-transition: transform ease-out .2s;
  -o-transition: transform ease-out .2s;
  transition: transform ease-out .2s;
  transform: rotate(180deg);
}

#fullscreen-searchform {
  position: relative;
  verticle-align: middle;
}

.fullscreen-search-overlay #fullscreen-search-wrapper #fullscreen-searchform #fullscreen-search-input {
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  border: 0;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  color: #fff;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.fullscreen-search-overlay #fullscreen-search-wrapper #fullscreen-searchform #fullscreen-search-input:focus{
  boder: none;
  outline: none;
}

.search-trigger {
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

/* Search Button */
#search-button {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#search-button i{
  color: white !important;
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
}

#search-button:hover,
.fullscreen-close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

#mk-fullscreen-search-input:focus{
  box-shadow: 0px 3px 0px 0px rgba(0,86,210,0.54) !important;
}

/**
 *
 * CART MENU
 *
 */

 #cinestore-menu {
   margin-top: 2.8rem;
   position: fixed;
   right: 0;
   z-index: 1030;
   /*box-shadow: 0px -2px 9px 0px rgba(50, 50, 50, 0.125);*/
 }

 #cinestore-menu h5 {
   line-height: 1;
   margin: 0;
 }

 #cinestore-menu ul {
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
   text-align: center;
 }

 #cinestore-menu li {
   display: inline-block;
   padding-top: .6rem;
   padding-bottom: .6rem;
 }

 #cinestore-menu .nav-link {
   display: inherit;
 }


/**
 *
 * COMMON PARTS SEARCH & CART OVERLAY
 *
 */

.fullscreen-search-overlay {
  text-align: center;
}

 .fullscreen-cart-overlay,
 .fullscreen-search-overlay {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   background-color: rgb(36, 36, 36);
   -webkit-transition: all ease-in-out .25s;
   -moz-transition: all ease-in-out .25s;
   -ms-transition: all ease-in-out .25s;
   -o-transition: all ease-in-out .25s;
   transition: all ease-in-out .25s;
 }

 .fullscreen-search-overlay.fullscreen-search-overlay-show,
 .fullscreen-cart-overlay.fullscreen-cart-overlay-show {
   visibility: visible;
   opacity: 1;
   z-index: 9999;
 }

 .animate-element,
 .effect-bg-layer,
 .fullscreen-search-overlay,
 .fullscreen-cart-overlay {
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
 }

 .fullscreen-search-overlay,
 .fullscreen-cart-overlay {
   z-index: 999;
 }

 .fullscreen-search-overlay .fullscreen-close:link,
 .fullscreen-search-overlay .fullscreen-close:visited,
 .fullscreen-cart-overlay .fullscreen-close:link,
 .fullscreen-cart-overlay .fullscreen-close:visited {
   color: #fff;
 }

 .fullscreen-search-overlay .fullscreen-close,
 .fullscreen-cart-overlay .fullscreen-close {
   position: absolute;
   right: 3rem;
   top: 3rem;
   font-size: 26px;
   -webkit-transition: transform ease-out .2s;
   -moz-transition: transform ease-out .2s;
   -ms-transition: transform ease-out .2s;
   -o-transition: transform ease-out .2s;
   transition: transform ease-out .2s;
   transform: rotate(0deg);
 }

 .fullscreen-search-overlay.fullscreen-search-overlay-show #fullscreen-search-wrapper,
 .fullscreen-cart-overlay.fullscreen-cart-overlay-show #fullscreen-cart-wrapper {
   opacity: 1;
   visibility: visible;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1);
   ms-transform: scale(1);
 }

 .fullscreen-search-overlay #fullscreen-search-wrapper,
 .fullscreen-cart-overlay #fullscreen-cart-wrapper {
   display: inline-block;
   max-width: 100%;
   vertical-align: middle;
   /*text-align: center;*/
   /*font-size: 18px;*/
   -webkit-transform: scale(0.9);
   -moz-transform: scale(0.9);
   -ms-transform: scale(0.9);
   -o-transform: scale(0.9);
   transform: scale(0.9);
   ms-transform: scale(0.9);
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all ease-in-out .3s;
   -moz-transition: all ease-in-out .3s;
   -ms-transition: all ease-in-out .3s;
   -o-transition: all ease-in-out .3s;
   transition: all ease-in-out .3s;
 }

 #fullscreen-cart-wrapper {
   width: 90%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%) !important;
 }


/*
 *
 * HEADER IMG ON PAGES
 *
 */

.header-img {
  background-size: cover;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
}

/*
 *
 * FONTAWESOME FIX ICON RIGHT PADDING
 *
 */

#fullscreen-cart-wrapper hr {
  border-top: 1px solid rgba(255, 255, 255, .5);
}


/*
 *
 * FONTAWESOME FIX ICON RIGHT PADDING
 *
 */

.fa {
  padding-right: 0.3rem;
}
