body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}

.bg-dark-gray {
  background-color: #eee;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.main-nav {
  box-shadow: 0px -2px 19px 0px rgba(50, 50, 50, 0.125);
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nav-item {
  text-transform: uppercase;
}

.nav-item a {
  font-size: inherit !important;
}

.carousel-item {
  background-color: #999;
}

.carousel-overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu-box {
  min-height: 400px;
}

.menu-box h2 {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-box::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
