
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i);

// Local fonts
@import 'fonts';

// Variables
@import 'variables';
@import "mixins";


// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap.scss';

// Navs
@import 'nav';
@import 'navbar';
@import 'modal';

@import "utilities";

@import 'style';

@import 'customs';
