<template lang="html">
    <div>
        <content-filler-main
            :featured_director="featured_director"
            :featured_page="featured_page"
            :featured_exhibit="featured_exhibit"
            :featured_exhibition="featured_exhibition"
            :featured_product="featured_product" />

        <div class="row no-gutters pt-5">
            <div id="show-dates" class="col-md-7 offset-md-1" style="overflow:hidden">
                <h5>Film in Proiezione</h5>
                <hr>
                <div id="shows">
                    <single-show
                        v-if="shows.length > 0"
                        v-for="show in shows"
                        :key="show.id"
                        :show="show" />

                    <div v-else>
                        <h1 class="text-center p-5"><i class="fa fa-meh-o" aria-hidden="true"></i></h1>
                        <h3 class="text-center pb-5">Ooops, nessun film in programmazione</h3>
                        <div class="row p-5">
                            <div class="col-md-4 offset-md-4">
                                <a class="btn btn-primary btn-block" :href="url_previous">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Indietro
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <content-filler-bottom/>
            </div>
            <div class="col-md-2 offset-md-1">
                <div id="show-sidebar">
                    <div class="row pb-5">
                        <div class="col">
                            <h5>Scegli Una Data</h5>
                            <hr>
                            <div id="datepicker"></div>
                        </div>
                    </div>
                    <content-filler-sidebar/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
require('bootstrap-datepicker/dist/css/bootstrap-datepicker3.css')
require('bootstrap-datepicker')
require('bootstrap-datepicker/dist/locales/bootstrap-datepicker.it.min')
require('any-resize-event')

import ContentFillerBottom from '../../filler/components/ContentFillerBottom.vue'
import ContentFillerMain from '../../filler/components/ContentFillerMain.vue'
import ContentFillerSidebar from '../../filler/components/ContentFillerSidebar.vue'
import SingleShow from './SingleShow.vue'

import axios from 'axios'
import Cookies from '../utilities/Cookies'
import EventBus from '_js/EventBus'
import moment from 'moment'

export default {
    name: 'CalendarMain',
    components: {
        ContentFillerBottom,
        ContentFillerMain,
        ContentFillerSidebar,
        SingleShow,
    },
    props: {
        featured_director: {
            default: '',
            type: String,
        },
        featured_page: {
            default: '',
            type: String,
        },
        featured_exhibit: {
            default: '',
            type: String,
        },
        featured_exhibition: {
            default: '',
            type: String,
        },
        featured_product: {
            default: '',
            type: String,
        },
        starting_shows: {
            default: '',
            type: String,
        },
        url_previous: {
            default: '#',
            type: String,
        }
    },
    computed: {
        parseShows: function() {
            if (this.starting_shows) {
                return JSON.parse(this.starting_shows)
            }
            return []
        },

        today: function() {
            return new Date()
        }
    },
    data: function() {
        return {
            shows: [],
            dateSelected: null,
        }
    },
    methods: {
        initDatePicker: function() {
            $('#datepicker').datepicker({
                autoclose: true,
                todayHighlight: true,
                language: 'it',
                startDate: moment().toDate(),
            })

            var date = Cookies.getCookie('cnt-date')

            this.dateSelected = date ? date : this.today

            if (this.dateSelected != this.today) {
                $('#datepicker').datepicker('setDate', this.dateSelected)

                var cleanDate = this.dateSelected
                this.getShows(cleanDate)
            } else {
                this.shows = this.parseShows
            }
        },
        initShows: function() {

        },
        getShows: function(date) {
            console.log(date)
            var converted = moment(date).format('Y-M-D')

            axios.get('/films/shows/'+converted).then(response => {
                this.shows = response.data
                Cookies.setCookie('cnt-date', date, 8)
            })
        },
    },
    mounted: function() {
        this.initDatePicker()
        this.initShows()

        $('#datepicker').datepicker().on('changeDate', e => {
            var date = $('#datepicker').datepicker('getDate')
            this.getShows(date)
        })

        document.getElementById('shows').addEventListener('onresize', () => {
            EventBus.$emit('content-filler-resized')
        })

        document.getElementById('show-sidebar').addEventListener('onresize', () => {
            EventBus.$emit('content-filler-resized')
        })
    }
}
</script>

<style lang="scss">

</style>
