<template lang="html">
    <div>
        <div class="row show-single">
            <div class="col-md-2">
                <h3>{{ show.time }}</h3>
                <p>
                    {{ show.day_string }}<br>
                    {{ show.day }} {{ show.month }}
                </p>
            </div>
            <div class="col-md-4">
                <img :src="show.img" class="img-fluid w-100" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h3 class='show-title pb-2'>
                            <a :href="show.slug">{{ show.title }}</a>
                        </h3>
                    </div>
                    <div class="col-12" v-if="show.type == 'film' && show.film.id && (show.exhibitions.length > 0)">
                        <span class="badge badge-info"
                            v-for="exhibition in show.exhibitions"
                            :key="exhibition.id" >
                            <a :href="'/rassegna/' + exhibition.slug" class="text-white">
                                {{ exhibition.title }}
                            </a>
                        </span>
                    </div>
                    <div class="col-12" v-if="show.kids">
                        <span class="badge" style="background-color:#755482">Adatto ai bambini</span>
                    </div>
                    <div class="col-12" v-if="show.type == 'film' && show.film.categories.length > 0">
                        <span class="badge badge-default mr-1"
                            v-for="category in show.film.categories"
                            :key="category.id">
                            {{ category.name }}
                        </span>
                    </div>
                    <div class="col-12" v-else-if="show.type == 'event'">
                        <span class="badge" style="background-color:#2AD68C">Evento</span>
                    </div>
                    <div class="col-12 pt-2" v-if="show.type == 'film'">
                        <h6 class="show-location-name">
                            <a :href="'/films/location/'+show.film.location.slug">{{ show.film.location.name }}</a>
                            <span v-if="show.film.place"> - {{ show.film.place.name }}</span>
                        </h6>
                        <p>{{ show.film.region }}, {{ show.film.production_date }}, {{ show.film.duration }}'</p>
                    </div>
                    <div class="col-12 show-description">
                        <p>{{ shortenDesc }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3 show-single-sep">
            <div class="col-md-8 offset-md-2">
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SingleShow',
    props: {
        show: {
            default: function() {},
            type: Object,
        }
    },
    computed: {
        shortenDesc: function() {
            var text, clean, shorten
            var type = this.show.type

            if (type == 'event') {
                text = this.show.description
            } else if (type == 'film') {
                text = this.show.film.description
            }

            clean = text.replace(/<(?:.|\n)*?>/gm, '')

            if (clean.length >= 147) {
                clean = clean.substring(0, 147)
                shorten = clean + '...'
            } else {
                shorten = clean
            }

            return shorten
        },
    }
}
</script>

<style lang="scss">

.show-title {
    margin-bottom: 0;
}

</style>
