<template>
  <div id="galleries">
    <table class="table table-hover">
      <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Contenuto</th>
        <th></th>
      </thead>
      <single-row v-for="gallery in galleriesUpdate" :key="gallery.key" :gallery="gallery"></single-row>
    </table>
  </div>
</template>
<script>
import SingleRow from './SingleRow.vue'

export default {
  name: "galleries",
  props: ['galleries'],
  computed: {
      galleriesParsed: function()
      {
          return JSON.parse(this.galleries);
      }
  },
  data: () => ({
      galleriesUpdate: [],
  }),
  created() {
      this.galleriesUpdate = this.galleriesParsed;
  },
  mounted() {
      this.$on('gallery-removed', gallery => {
          this.gallery_remove(gallery);
      });
  },
  methods: {
      gallery_remove: function(gallery)
      {
          this.galleriesUpdate = this.galleriesUpdate.filter((value) => {
              return value.id != gallery.id;
          })
      }
  },
  components: {
    SingleRow
  }
}
</script>
<style lang="scss" scoped>
</style>
