<template>
  <div id="gallery-details">
    <label>Titolo:</label>
    <input type="text" v-model="title" class="form-control">
  </div>
</template>
<script>
import select2 from 'select2'

export default {
  name: "gallery-details",
  props: ['gallery'],
  computed: {
    galleryParsed: function()
    {
        return JSON.parse(this.gallery);
    }
  },
  data: () => ({
      title: '',
  }),
  created() {
    this.title = this.galleryParsed.title;
    $()
  }
}
</script>
<style lang="scss" scoped>
</style>
