<template>
<div id="list">
    <div id="save_edit" ref="save_edit" class="d-flex justify-content-center pt-2">
        <button class="btn btn-warning" @click="save_edit"><i class="fa fa-floppy-o"></i> Salva modifiche</button>
    </div>
    <draggable v-model="imagesUpdate" @end="" :options="{draggable: '.item'}">
        <div class="row pt-4">
            <single-image v-for="image in imagesUpdate" :key="image.key" :image="image" class="item"></single-image>
        </div>
    </draggable>
    <div id="save_edit_bottom" ref="save_edit_bottom" class="d-flex justify-content-center pt-2">
        <button class="btn btn-warning" @click="save_edit"><i class="fa fa-floppy-o"></i> Salva modifiche</button>
    </div>
</div>
</template>
<script>
import draggable from 'vuedraggable'
import SingleImage from './SingleImage.vue'

import {
    TweenMax,
    Power4
} from 'gsap'
import axios from 'axios'

export default {
    name: "list",
    components: {
        SingleImage,
        draggable
    },
    props: ['images', 'gallery'],
    computed: {
        imagesParsed: function() {
            return JSON.parse(this.images)
        },
        galleryParsed: function() {
            return JSON.parse(this.gallery)
        }
    },
    data: () => ({
        imagesUpdate: [],
        galleryIds: [],
        galleryIdsInput: null,
    }),
    created() {
        this.imagesUpdate = this.imagesParsed
    },
    mounted() {
        var vue = this
        this.$on('image-removed', image => {
            vue.remove_image(image)
            vue.list_changed()
        })

        this.$parent.$on('add-image', image => {
            vue.add_image(image)
        })
    },
    methods: {
        remove_image: function(image) {
            this.imagesUpdate = this.imagesUpdate.filter((value) => {
                return value.id != image.id
            })
        },
        list_changed: function() {
            TweenMax.to(this.$refs.save_edit, .4, {
                opacity: 1,
                display: 'd-flex',
                easing: Power4.easeInOut
            })

            TweenMax.to(this.$refs.save_edit_bottom, .4, {
                opacity: 1,
                display: 'd-flex',
                easing: Power4.easeInOut
            })
        },
        hide_edit_btn: function() {
            TweenMax.to(this.$refs.save_edit, .4, {
                opacity: 0,
                display: 'none',
                easing: Power4.easeInOut
            })

            TweenMax.to(this.$refs.save_edit_bottom, .4, {
                opacity: 0,
                display: 'none',
                easing: Power4.easeInOut
            })
        },
        save_edit: function() {
            var vue = this
            var data = new FormData()
            data.append('gallery_id', this.galleryParsed.id)
            data.append('images', JSON.stringify(this.imagesUpdate))

            axios.post('/admin/gallery/update', data)
                .then(response => {
                    console.log(response)
                    vue.hide_edit_btn()
                })
                .catch(errors => {
                    console.log(errors)
                })
        },
        add_image: function(image) {
            var parsed = JSON.parse(image)
            this.imagesUpdate.push(parsed)
            this.list_changed()
        }
    },
}
</script>
<style lang="scss" scoped>
#save_edit,
#save_edit_bottom {
    opacity: 0;
    display: none;
}
</style>
