<template>
  <tbody id="single-row">
    <tr>
      <td class="align-middle">{{gallery.id}}</td>
      <td class="align-middle">{{gallery.title}}</td>
      <td class="align-middle">
        {{gallery.type_title}}
      </td>
      <td class="align-middle">
        <div class="btn-group">
          <a class="btn btn-info" :href="'/admin/gallery/'+gallery.id+'/edit'">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a href="#" target="_blank" class="btn btn-warning disabled" v-if="gallery.url == '#'">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a :href="gallery.url" target="_blank" class="btn btn-warning" v-else>
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a class="btn btn-danger text-white" @click="confirmation">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </div>
      </td>
    </tr>
    <tr id="delete" ref="delete">
      <td colspan="4">
          <div class="row pt-5">
            <div class="col">
              <h3 class="text-center text-warning"><i class="fa fa-exclamation-triangle"></i></h3>
              <p class="lead text-center">Attenzione:<br>questa operazione non può essere annullata!</p>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col">
              <div class="d-flex justify-content-center">
                <button class="btn btn-danger mr-4" @click="delete_row"><i class="fa fa-trash-o"></i> Elimina</button>
                <button class="btn btn-success" @click="undo"><i class="fa fa-undo"></i> Annulla</button>
              </div>
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</template>
<script>

import {TweenMax, Power4} from 'gsap'
import axios from 'axios'

export default {
  name: "single-row",
  props: ['gallery'],
  data: () => ({

  }),
  methods: {
    confirmation: function()
    {
        TweenMax.to(this.$refs.delete, .4, {
            opacity: 1,
            display: 'table-row',
            easing: Power4.easeInOut
        })
    },
    undo: function()
    {
        TweenMax.to(this.$refs.delete, .4, {
            opacity: 0,
            display: 'none',
            easing: Power4.easeInOut
        })
    },
    delete_row: function()
    {
        var vue = this;
        this.undo();
        var url = '/admin/gallery/delete/'+this.gallery.id
        axios.post(url)
        this.$parent.$emit('gallery-removed', this.gallery);
    }
  }
}
</script>
<style lang="scss" scoped>

  #delete {
    opacity: 0;
    display: none;
  }

</style>
