<template>
  <div id="single-image" class="col-md-3 pb-4">
    <img class="img-fluid" :src="image.thumb" />
    <div class="d-flex justify-content-center pt-3">
      <button class="btn btn-danger" @click="remove"><i class="fa fa-trash-o"></i> Rimuovi</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "single-image",
  props: ['image'],
  data: () => ({

  }),
  methods: {
      remove: function()
      {
          this.$parent.$parent.$emit('image-removed', this.image);
      }
  }
}
</script>
<style lang="scss" scoped>

</style>
