<template>
  <div id="single-image-library" class="col-md-3 pb-3">
    <img class="img-fluid" :src="image.thumb" />
    <div class="d-flex justify-content-center pt-3">
      <button class="btn btn-info" @click="select">Seleziona</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "single-image-library",
  props: ['image'],
  data: () => ({

  }),
  methods: {
    select: function()
    {
      this.$parent.$emit('library-select', JSON.stringify(this.image));
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
