<template>
<div id="upload-image">
	<div class="d-flex justify-content-center">
		<button class="btn btn-primary mr-4" @click="show_upload"><i class="fa fa-plus"></i> Carica Immagine</button>
		<button class="btn btn-info" @click="show_library"><i class="fa fa-hdd-o"></i> Libreria Immagini</button>
	</div>
	<div id="upload_form" ref="upload_form" class="row pt-5">
		<div class="col">
			<div class="close">
				<button class="btn btn-secondary" @click="hide_upload"><i class="fa fa-times"></i></button>
			</div>
			<h3>Carica una nuova immagine</h3>
			<hr>
			<label>Immagine:</label>
			<input ref="media" type="file" class="form-control" @change="get_file">
			<div class="d-flex justify-content-center pt-4">
				<button class="btn btn-primary" @click="upload"><i class="fa fa-floppy-o"></i> Aggiungi</button>
			</div>
		</div>
	</div>
	<div id="library" ref="library" class="row pt-5">
		<div class="col">
			<div class="close">
				<button class="btn btn-secondary" @click="hide_library"><i class="fa fa-times"></i></button>
			</div>
			<h3>Libreria Immagini</h3>
			<hr>
			<div class="row pt-4">
				<single-image-library v-for="image in imagesUpdate" :key="image.id" :image="image"></single-image-library>
			</div>
			<div class="d-flex justify-content-center pt-4">
				<button class="btn btn-warning" @click="load_more">Carica altre</button>
			</div>
		</div>
	</div>
</div>
</template>
<script>
import SingleImageLibrary from './SingleImageLibrary.vue'

import {
	TweenMax,
	Power4
} from 'gsap'
import axios from 'axios'

export default {
	name: "upload-image",
	props: ['images', 'gallery'],
	computed: {
		imagesParsed: function() {
			return JSON.parse(this.images);
		},
		galleryParsed: function() {
			return JSON.parse(this.gallery);
		}
	},
	data: () => ({
		upload_open: true,
		library_open: false,
		imagesUpdate: [],
		file: '',
	}),
	created() {
		this.library_load(0);
	},
	mounted() {
		var vue = this;
		this.$on('library-select', image => {
			console.log(image);
			vue.add_image(image);
		})
	},
	methods: {
		show_upload: function() {
			if (this.upload_open == false && this.library_open == false) {
				TweenMax.to(this.$refs.upload_form, .4, {
					opacity: 1,
					display: 'inherit',
					easing: Power4.easeInOut
				});
				this.upload_open = true;
			} else {
				this.hide_upload();
				this.hide_library();
				this.show_upload();
			}
		},
		hide_upload: function() {
			TweenMax.to(this.$refs.upload_form, .4, {
				opacity: 0,
				display: 'none',
				easing: Power4.easeInOut
			});
			this.upload_open = false;
		},
		show_library: function() {
			if (this.upload_open == false && this.library_open == false) {
				TweenMax.to(this.$refs.library, .4, {
					opacity: 1,
					display: 'inherit',
					easing: Power4.easeInOut
				});
				this.library_open = true;
			} else {
				this.hide_upload();
				this.hide_library();
				this.show_library();
			}
		},
		hide_library: function() {
			TweenMax.to(this.$refs.library, .4, {
				opacity: 0,
				display: 'none',
				easing: Power4.easeInOut
			});
			this.library_open = false;
		},
		library_load: function(start) {
			for (var i = start; i < (start + 16); i++) {
				this.imagesUpdate.push(this.imagesParsed[i]);
			}
		},
		load_more: function() {
			this.library_load(this.imagesUpdate.length);
		},
		add_image: function(image) {
			this.$parent.$emit('add-image', image);
			this.hide_library();
		},
		get_file: function(e) {
			this.file = e.target.files[0];
		},
		upload: function() {
			var vue = this;
			var data = new FormData();
			data.append('media', this.file);

			axios.post('/admin/gallery/upload', data)
				.then(response => {
					console.log(response);
					vue.hide_upload();
					this.$parent.$emit('add-image', JSON.stringify(response.data.media));
				})
				.catch(errors => {
					console.log(errors);
				});

		}
	},
	components: {
		SingleImageLibrary
	}
}
</script>
<style lang="scss" scoped>
#upload_form {
    opacity: 0;
    display: none;
}

#library {
    opacity: 0;
    display: none;
}
</style>
