<template>
  <tbody id="new-shipping">
    <tr id="edit-button" ref="edit_button">
      <td colspan="4" class="text-center">
        <button
          class="btn btn-primary"
          @click="showEditPanel"
        >
          <i class="fa fa-plus"></i> Aggiungi
        </button>
      </td>
    </tr>
    <tr class="edit-panel" ref="title">
      <td colspan="4" class="text-center title">
        <h5>Nuovo metodo di spedizione</h5>
      </td>
    </tr>
    <tr class="edit-panel" ref="form">
      <td>
        <input type="text" name="" class="form-control" placeholder="descrizione" v-model="description">
      </td>
      <td>
        <input type="text" name="" class="form-control" placeholder="10.00" v-model="price">
      </td>
      <td>
        <input type="text" name="" class="form-control" placeholder="1.00" v-model="increment">
      </td>
      <td>
        <input type="text" name="" class="form-control" placeholder="2gg lavorativi" v-model="timing">
      </td>
    </tr>
    <tr class="edit-panel" ref="buttons">
      <td colspan="4" class="text-center">
        <button
          class="btn btn-warning"
          @click="hideEditPanel"
        >
          <i class="fa fa-undo"></i> Annulla
        </button>
        <button
          class="btn btn-primary"
          @click="newShipping"
        >
          <i class="fa fa-floppy-o"></i> Salva
        </button>
      </td>
    </tr>
  </tbody>
</template>
<script>
import {TimelineMax, Power4} from 'gsap'
import {EventBus} from '_js/EventBus'
import axios from 'axios'

export default {
  name: 'NewShipping',
  data: () => ({
    description: '',
    price: '',
    increment: '',
    timing: ''
  }),
  methods: {
    showEditPanel: function()
    {
      var t1 = new TimelineMax()
      t1.to(this.$refs.edit_button, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      })
      .staggerTo([this.$refs.title, this.$refs.form, this.$refs.buttons], .4, {
        opacity: 1,
        display: 'table-row',
        ease: Power4.easeInOut
      }, .1)
    },
    hideEditPanel: function()
    {
      var t1 = new TimelineMax()
      t1.to([this.$refs.title, this.$refs.form, this.$refs.buttons], .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      }, .1)
      .to(this.$refs.edit_button, .4, {
        opacity: 1,
        display: 'table-row',
        ease: Power4.easeInOut
      })
    },
    newShipping: function()
    {
      var data = new FormData()
      data.append('description', this.description)
      data.append('price', this.price)
      data.append('increment', this.increment)
      data.append('timing', this.timing)

      axios.post('/admin/cinestore/new-shipping', data)
        .then(response => {
          this.hideEditPanel()
          EventBus.$emit('new-shipping', response.data)
        })
    }
  }
}
</script>
<style lang="scss" scoped>

  .edit-panel {
    display: none;
    opacity: 0;
  }

</style>
