<template>
  <div id="shipping">
    <table class="table table-hover">
      <thead>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>Incremento</th>
        <th>Timing</th>
      </thead>
      <single-shipping v-for="shipping in shippings" :key="shipping.key" :shipping="shipping" />
      <new-shipping />
    </table>
  </div>
</template>
<script>
import axios from 'axios'
import NewShipping from './NewShipping.vue'
import SingleShipping from './SingleShipping.vue'
import {EventBus} from '_js/EventBus'

export default {
  name: 'Shipping',
  components: {
    NewShipping,
    SingleShipping
  },
  data: () => ({
    shippings: ''
  }),
  mounted()
  {
    this.getShippings()

    EventBus.$on('new-shipping', () => {
      this.getShippings()
    })
  },
  methods: {
    getShippings: function()
    {
      axios.get('/admin/cinestore/get-shipping')
        .then(response => {
          this.shippings = response.data
        })
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
