<template>
  <tbody id="single-shipping">
    <tr id="detail" ref="detail">
      <td @click="editRow">{{ shipping.description }}</td>
      <td @click="editRow">€ {{ shipping.price }}</td>
      <td @click="editRow">€ {{ shipping.increment }}</td>
      <td @click="editRow">{{ shipping.timing }}</td>
    </tr>
    <tr id="edit" ref="edit">
      <td>
        <input type="text" name="" class="form-control" placeholder="descrizione" v-model="description">
      </td>
      <td>
        <input type="text" name="" class="form-control" placeholder="10.00" v-model="price">
      </td>
      <td>
        <input type="text" name="" class="form-control" placeholder="1.00" v-model="increment">
      </td>
      <td>
        <input type="text" name="" class="form-control" placeholder="2gg lavorativi" v-model="timing">
      </td>
    </tr>
    <tr id="edit-button" ref="edit_button">
      <td colspan="4" class="text-center">
        <button
          class="btn btn-warning"
          @click="hideEdit"
        >
          <i class="fa fa-undo"></i> Annulla
        </button>
        <button
          class="btn btn-danger"
          @click="deleteShipping"
        >
          <i class="fa fa-trash-o"></i> Elimina
        </button>
        <button
          class="btn btn-success"
          @click="updateShipping"
        >
          <i class="fa fa-floppy-o"></i> Aggiorna
        </button>
      </td>
    </tr>
  </tbody>
</template>
<script>
import {TimelineMax, Power4} from 'gsap'
import {EventBus} from '_js/EventBus'
import axios from 'axios'

export default {
  name: 'SingleShipping',
  props: {
    shipping: {
      default: function() {},
      type: Object
    }
  },
  data: () => ({
    description: '',
    price: '',
    increment: '',
    timing: ''
  }),
  watch: {
    shipping: function()
    {
      this.description = this.shipping.description
      this.price = this.shipping.price
      this.increment = this.shipping.increment
      this.timing = this.shipping.timing
    }
  },
  methods: {
    editRow: function()
    {
      var t1 = new TimelineMax()
      t1.to(this.$refs.detail, .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      })
      .to([this.$refs.edit, this.$refs.edit_button], .4, {
        opacity: 1,
        display: 'table-row',
        ease: Power4.easeInOut
      })
    },
    hideEdit: function()
    {
      var t1 = new TimelineMax()
      t1.to([this.$refs.edit, this.$refs.edit_button], .4, {
        opacity: 0,
        display: 'none',
        ease: Power4.easeInOut
      })
      .to(this.$refs.detail, .4, {
        opacity: 1,
        display: 'table-row',
        ease: Power4.easeInOut
      })
    },
    updateShipping: function()
    {
      var data = new FormData()
      data.append('id', this.shipping.id)
      data.append('description', this.description)
      data.append('price', this.price)
      data.append('increment', this.increment)
      data.append('timing', this.timing)

      axios.post('/admin/cinestore/update-shipping', data)
        .then(response => {
          this.hideEdit()
          EventBus.$emit('new-shipping', response.data)
        })
    },
    deleteShipping: function()
    {
      var data = new FormData()
      data.append('id', this.shipping.id)

      axios.post('/admin/cinestore/delete-shipping', data)
        .then(response => {
          this.hideEdit()
          EventBus.$emit('new-shipping', response.data)
        })
    }
  },
  mounted()
  {
    this.description = this.shipping.description
    this.price = this.shipping.price
    this.increment = this.shipping.increment
    this.timing = this.shipping.timing
  }
}
</script>
<style lang="scss" scoped>

  #single-shipping {
    > #edit, #edit-button {
      opacity: 0;
      display: none;
    }
  }

</style>
