<template>
<div id="newsletter">
    <div class="row no-gutters pt-5 bg-dark-gray">
        <div class="col">
            <div class="newsletter-message">
                <div class="newsletter-title">
                    <h1>Iscriviti alla Nostra Newsletter</h1>
                    <hr>
                </div>
                <div class="newsletter-content">
                    <p class="text-center pt-5">
                        Vuoi rimanere aggiornato su tutte le iniziative e gli eventi della Fondazione Cineteca Italiana?
                        <br> Allora perché non iscriverti alla nostra newsletter - un'ispirazione mensile, direttamente nella tua mail.
                    </p>
                </div>
                <div class="newsletter-call">
                    <div id="mail" class="form-group" ref="mail">
                        <input type="email" class="form-control" placeholder="Inserisci qui la tua email" v-model="email">
                    </div>
                    <div id="options" ref="options">
                        <div class="option" @click="selectOption('oberdan')">
                            <i class="fa fa-circle-o" ref="icon_oberdan"></i>
                            <div class="description">Oberdan</div>
                        </div>
                        <div class="option" @click="selectOption('metropolis')">
                            <i class="fa fa-circle-o" ref="icon_metropolis"></i>
                            <div class="description">Area Metropolis 2.0</div>
                        </div>
                        <div class="option" @click="selectOption('mic')">
                            <i class="fa fa-circle-o" ref="icon_mic"></i>
                            <div class="description">Mic</div>
                        </div>
                    </div>
                    <div id="btns" class="btns">
                        <button class="btn btn-primary" @click="register">
                Registrati
              </button>
                    </div>
                    <div id="loading" ref="loading">
                        <svg viewBox="0 0 16 16" width="60px" height="32px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle id="c1" cx="8" cy=8 r="8" />
                <circle id="c2" cx="14" cy=8 r="8" />
              </svg>
                    </div>
                    <div id="success-message">
                        <svg id="success-icon" xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 70 70">
                  <g fill="none" fill-rule="evenodd">
                    <circle cx="32" cy="32" r="32" ref="icon_circle"/>
                    <polyline ref="icon_check" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" points="17.518 30.417 35.939 48.839 58.703 7.26" transform="rotate(10 38.11 28.05)"/>
                  </g>
              </svg>
                        <div id="success-text">
                            Grazie per esserti iscritto!
                        </div>
                    </div>
                    <div id="warning-message">
                        <svg id="warning-icon" xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 70 70">
                <g fill="none" fill-rule="evenodd">
                  <path id="triangle" d="M37.307592,8.18121114 L65.6202256,62.6156753 L65.6202256,62.6156753 C66.3847626,64.08559 65.8129409,65.896971 64.3430261,66.6615079 C63.915473,66.8838883 63.4406377,66.9999919 62.9587096,66.9999919 L7.03251962,66.9999919 L7.03251962,66.9999919 C5.37566537,66.9999919 4.03251962,65.6568461 4.03251962,63.9999919 C4.03251962,63.5283692 4.14371267,63.0633904 4.35707501,62.6427903 L31.9706313,8.20832611 L31.9706313,8.20832611 C32.720193,6.73071885 34.5256702,6.14052133 36.0032775,6.89008307 C36.5622495,7.17363881 37.0183712,7.62514918 37.307592,8.18121114 Z"/>
                  <path id="exclamation" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" d="M35,25 L35,42"/>
                  <circle cx="35" cy="57" r="6"/>
                </g>
              </svg>
                        <div id="warning-text" class="text-warning">
                            {{ warning_message }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="social">
                <div class="social-message">
                    Altrimenti, puoi seguirci su
                </div>
                <div class="social-icons">
                    <div class="icon">
                        <a href="https://twitter.com/cinetecamilano" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="icon">
                        <a href="https://www.facebook.com/cineteca.milano/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import {
    TweenMax,
    TimelineMax,
    Power4,
    Elastic
} from 'gsap'
import axios from 'axios'

export default {
    name: 'Newsletter',
    data: () => ({
        status: false,
        email: '',
        options: {
            oberdan: 0,
            mic: 0,
            metropolis: 0,
        },
        warning_message: 'errore'
    }),
    watch: {
        email: function(newvalue) {
            if (this.email.length > 0) {
                // show form
                this.showForm()
            } else {
                // hide form
                this.hideForm()
            }
        }
    },
    methods: {
        showForm: function() {
            if (!this.status) {
                TweenMax.to('#options', .4, {
                    opacity: 1,
                    display: 'flex',
                    ease: Power4.easeInOut
                })
            }
        },
        hideForm: function() {
            TweenMax.to('#options', .4, {
                opacity: 0,
                display: 'none',
                ease: Power4.easeInOut
            })
        },
        selectOption: function(place) {
            if (place == 'oberdan') {
                if (!this.options.oberdan) {
                    this.options.oberdan = 1
                    this.$refs.icon_oberdan.classList.replace('fa-circle-o', 'fa-check-circle')
                } else {
                    this.options.oberdan = 0
                    this.$refs.icon_oberdan.classList.replace('fa-check-circle', 'fa-circle-o')
                }
            } else if (place == 'metropolis') {
                if (!this.options.metropolis) {
                    this.options.metropolis = 1
                    this.$refs.icon_metropolis.classList.replace('fa-circle-o', 'fa-check-circle')
                } else {
                    this.options.metropolis = 0
                    this.$refs.icon_metropolis.classList.replace('fa-check-circle', 'fa-circle-o')
                }
            } else if (place == 'mic') {
                if (!this.options.mic) {
                    this.options.mic = 1
                    this.$refs.icon_mic.classList.replace('fa-circle-o', 'fa-check-circle')
                } else {
                    this.options.mic = 0
                    this.$refs.icon_mic.classList.replace('fa-check-circle', 'fa-circle-o')
                }
            }
        },
        register: function() {
            // hide everything while waiting for response
            var t1 = new TimelineMax()
            t1.staggerTo(['#mail', '#options', '#btns'], .4, {
                opacity: 0,
                ease: Power4.easeInOut
            }, .2)
            t1.set(['#mail', '#options', '#btns'], {
                display: 'none'
            })
            t1.to('#loading', .4, {
                opacity: 1,
                display: 'block'
            })

            // Loading Animation
            var t2 = new TimelineMax({
                repeat: -1
            })
            t2.to('#c1', .5, {
                scale: .2,
                x: '+=5',
                transformOrigin: '50% 50%',
            })
            t2.to('#c1', .5, {
                scale: 1,
                x: '-=5',
                transformOrigin: '50% 50%',
            })
            var t3 = new TimelineMax({
                repeat: -1
            })
            t3.to('#c2', .5, {
                scale: .2,
                x: '-=5',
                transformOrigin: '50% 50%',
            })
            t3.to('#c2', .5, {
                scale: 1,
                x: '+=5',
                transformOrigin: '50% 50%',
            })

            var master = new TimelineMax()
            master.add(t1)
            master.add(t2, 1.2)
            master.add(t3, 1.2)

            // on response success --> show success
            var data = {
                'email': this.email,
                'oberdan': this.options.oberdan,
                'metropolis': this.options.metropolis,
                'mic': this.options.mic,
                'teacher': 0
            }

            var vue = this
            axios.post('/newsletter-subscribe', data)
                .then(response => {
                    // vue.hideLoading()
                    t2.stop()
                    t3.stop()
                    vue.showSuccess()
                })
                .catch(errors => {
                    console.log('errore');
                    console.log(errors.response);
                    if (errors.response.status == 400 && errors.response.data.status == 'already exists') {
                        vue.showWarning(errors.response.data.message)
                    } else {
                        vue.showWarning('C\'è stato un errore, ricarica la pagina e prova di nuovo.')
                    }
                })

        },
        // hideLoading: function()
        // {
        //   TweenMax.to('#loading', .4, {
        //     display: 'none',
        //     opacity: 0
        //   })
        // },
        showSuccess: function() {
            var t0 = new TimelineMax()
            t0.to(this.$refs.loading, .4, {
                display: 'none',
                opacity: 0
            })

            var t1 = new TimelineMax()
            t1.set('#success-message', {
                opacity: 1,
                display: 'flex'
            })
            t1.to('#success-icon', .8, {
                width: 96,
                height: 96,
                transformOrigin: '50% 50%',
                ease: Elastic.easeOut.config(1, 0.3)
            })

            var t2 = new TimelineMax()
            t2.set('#success-text', {
                display: 'block',
            })
            t2.to('#success-text', .4, {
                opacity: 1,
                ease: Power4.easeInOut
            })

            var master = new TimelineMax()
            master.add(t0)
            master.add(t1, .8)
            master.add(t2, .8)
            master.play()
        },
        showWarning: function(message) {
            this.warning_message = message
            var t0 = new TimelineMax()
            t0.to(this.$refs.loading, .4, {
                display: 'none',
                opacity: 0
            })

            var t1 = new TimelineMax()
            t1.set('#warning-message', {
                opacity: 1,
                display: 'flex'
            })
            t1.to('#warning-icon', .8, {
                width: 96,
                height: 96,
                transformOrigin: '50% 50%',
                ease: Elastic.easeOut.config(1, 0.3)
            })

            var t2 = new TimelineMax()
            t2.set('#warning-text', {
                display: 'block',
            })
            t2.to('#warning-text', .4, {
                opacity: 1,
                ease: Power4.easeInOut
            })

            var master = new TimelineMax()
            master.add(t0)
            master.add(t1, .8)
            master.add(t2, .8)
            master.play()
        },
    },
    mounted() {
        // this.showWarning()
    }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';

.newsletter-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .newsletter-title {
        > h1 {
            text-align: center;
        }
    }

    > .newsletter-call {
        max-width: 80%;
        min-width: $spacer * 20;
        padding-top: $spacer * 2;
        padding-bottom: $spacer * 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > #mail {
            width: 100%;

            > input {
                text-align: center;
            }
        }

        > #options {
            // display: flex;
            padding-bottom: $spacer;

            display: none;
            opacity: 0;

            > .option {
                display: flex;
                padding: $spacer;
                justify-content: space-between;
                align-items: center;

                > i {
                    color: $gray-footer;
                    font-size: $font-size-h5;
                }
            }
        }

        #loading {
            display: none;
            opacity: 0;
            padding-top: $spacer * 2;

            > svg {
                > #c1 {
                    fill: rgba($primary, .5);
                }

                > #c2 {
                    fill: rgba($red, .5);
                }
            }
        }

        #success-message {
            padding-top: $spacer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            display: none;
            opacity: 0;

            > #success-icon g {
                > circle {
                    fill: $green;
                }

                > polyline {
                    stroke: $white;
                }
            }

            > #success-text {
                font-size: $font-size-h4;
                font-weight: $font-weight-bold;
                color: $green;
                text-align: center;
                display: none;
                opacity: 0;
            }
        }

        #warning-message {
            padding-top: $spacer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            display: none;
            opacity: 0;

            > #warning-icon g {
                > #triangle {
                    fill: $orange;
                }

                > #exclamation {
                    stroke: $white;
                }

                > circle {
                    fill: $white;
                }
            }

            > #warning-text {
                font-size: $font-size-h4;
                font-weight: $font-weight-bold;
                color: $orange;
                text-align: center;
                display: none;
                opacity: 0;
            }
        }
    }
}
.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .social-icons {
        display: flex;
        justify-content: center;
        padding-bottom: $spacer * 2;

        > .icon {
            padding: $spacer * 1.6;
            margin: $spacer;
            font-size: $font-size-h4;
            width: $spacer * 2;
            height: $spacer * 2;
            border-radius: 50%;
            border: 1px solid $brand-primary;
            position: relative;
            // font-size:

            > a {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                line-height: 0;
                transform: translate(-50%, -50%);

                > .fa {
                    padding: 0;
                }
            }
        }
    }
}
</style>
