<template>
  <div id="media-library">
    <div class="row">
      <div id="search-box" class="col-md-6 offset-md-3">
        <input
          type="text"
          name="search"
          v-model="src_string"
          class="form-control"
          placeholder="Cerca..."
        >
        <div class="close-btn" ref="close_btn" @click="resetSearch">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
        <div class="row" ref="results">
          <single-media
            v-for="img in images"
            :key="img.key"
            :image="img"
            :editable="editable"
          />
        </div>
        <div id="loading" class="row" ref="loading">
          <div class="col text-center">
            <svg viewBox="0 0 16 16" width="60px" height="32px"  version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle id="c1" cx="8" cy="8" r="8" />
              <circle id="c2" cx="14" cy="8" r="8" />
            </svg>
          </div>
        </div>
        <div class="d-flex justify-content-center pt-5" ref="button">
          <a class="btn btn-primary text-white" @click="loadMore">Carica Altre...</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SingleMedia from './SingleMedia.vue'
import {EventBus} from '_js/EventBus'
import axios from 'axios'
import $ from 'jquery'
import {TweenMax, TimelineMax, Power4} from 'gsap'

export default {
  name: 'MediaLibrary',
  components: {
    SingleMedia
  },
  props: {
    editable: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    src_string: '',
    offset: 0,
    images: [],
    cached_images: '',
    status: 0,
  }),
  watch: {
    src_string: function(newvalue)
    {
      if (newvalue.length > 3) {
        console.log('searching');
        this.showCloseBtn()
        this.startSearch()
      } else if (newvalue.length == 0) {
        console.log('cleaned');
        this.removeSearch()
      } else {
        console.log('too short');
        this.showCloseBtn()
      }
    }
  },
  methods: {
    showCloseBtn: function()
    {
      TweenMax.to(this.$refs.close_btn, .4, {
        opacity: 1,
        display: 'block',
      })
    },
    resetSearch: function()
    {
      this.src_string = ''
      TweenMax.to(this.$refs.close_btn, .4, {
        opacity: 0,
        display: 'none',
      })
    },
    startSearch: function()
    {
      var vue = this

      // hide images
      var t1 = new TimelineMax()
      var t2 = new TimelineMax({repeat: -1})
      var t3 = new TimelineMax({repeat: -1})
      var timelines = {
        't2' : t2,
        't3' : t3
      }
      t1.to(this.$refs.results, .4, {
        opacity: 0,
        display: 'none',
        onComplete: function() {
          if (!vue.status) {
            // la ricerca non è attiva
            vue.cached_images = vue.images
            vue.status = 1
            vue.searchMedias(timelines)
          } else {
            // la ricerca è già attiva
            vue.status = 0
            vue.searchMedias(timelines)
          }
        }
      })
      .to(this.$refs.button, .4, {
        opacity: 0,
        display: 'none'
      })
      .to(this.$refs.loading, .4, {
        opacity: 1,
        display: 'block'
      })

      // Loading Animation
      t2.to('#c1', .5, {
        scale: .2,
        x: '+=5',
        transformOrigin: '50% 50%',
      })
      t2.to('#c1', .5, {
        scale: 1,
        x: '-=5',
        transformOrigin: '50% 50%',
      })

      t3.to('#c2', .5, {
        scale: .2,
        x: '-=5',
        transformOrigin: '50% 50%',
      })
      t3.to('#c2', .5, {
        scale: 1,
        x: '+=5',
        transformOrigin: '50% 50%',
      })

      var master = new TimelineMax()
      master.add(t1)
      master.add(t2, 1.2)
      master.add(t3, 1.2)

    },
    searchMedias: function(timelines)
    {
      var data = new FormData()
      data.append('search_string', this.src_string)
      axios.post('/admin/media/search', data)
        .then(response => {
          this.images = response.data
          timelines.t2.stop()
          timelines.t3.stop()
          this.endSearch()
        })
    },
    endSearch: function()
    {
      var t1 = new TimelineMax()
      .to(this.$refs.results, .4, {
        opacity: 1,
        display: 'flex',
      })
      .to(this.$refs.loading, .4, {
        opacity: 0,
        display: 'none'
      })
    },
    removeSearch: function()
    {
      var vue = this
      var t1 = new TimelineMax()
      t1.to(this.$refs.loading, .4, {
        opacity: 0,
        display: 'none'
      })
      .to(this.$refs.results, .4, {
        opacity: 1,
        display: 'flex',
        onComplete: function() {
          vue.images = vue.cached_images
          vue.status = 0
          vue.cached_images = []
        }
      })
      .to(this.$refs.button, .4, {
        opacity: 1,
        display: 'flex'
      })
    },
    loadMore: function(e)
    {
      var data = new FormData()
      data.append('objs', this.offset)

      axios.post('/admin/media/loadmore', data)
        .then(response => {
          this.images = this.images.concat(response.data.imgs)
          this.offset = this.images.length
        })
    },
    selectMedia: function(id)
    {
      this.src_string = ''
      $('#mediaLibrary').modal('hide');
      $('input[name="media-library"]').val(id);
    }
  },
  mounted()
  {
    this.loadMore()

    EventBus.$on('admin-media-selected', image => {
      this.selectMedia(image.id)
    })
  }
}
</script>
<style lang="scss" scoped>
@import '~styles/variables';

  #media-library {

    #search-box {
      display: flex;
      flex-direction: row;

      > .close-btn {
        margin-left: $spacer;
        display: none;
        opacity: 0;
      }
    }

    #loading {
      // display: none;
      // opacity: 0;
      padding-top: $spacer * 2;

      svg {
        > #c1 {
          fill: rgba($primary, .5);
        }

        > #c2 {
          fill: rgba($red, .5);
        }
      }
    }
  }
</style>
