<template>
  <div id="single-media" :class="this.columnsClass+' pb-3'">
    <div class="container-fluid bg-faded p-3">
      <img :src="this.thumb" class="img-fluid">
      <button
        class="mt-3 btn btn-info btn-block"
        @click="selectMedia"
        v-if="editable == false"
      >
        <i class="fa fa-check"></i> Seleziona
      </button>
      <a :href="'/admin/media/edit/'+this.image.id"
        class="mt-3 btn btn-primary btn-block"
        v-else
      >
        <i class="fa fa-wrench" aria-hidden="true"></i> Modifica
      </a>
    </div>
  </div>
</template>
<script>
import {EventBus} from '_js/EventBus'

export default {
  name: 'SingleMedia',
  props: {
    editable: {
      type: Boolean,
      default: false,
    },
    image: {
      default: function() {},
      type: Object
    }
  },
  data: () => ({

  }),
  computed: {
    columnsClass: function()
    {
      if (this.editable) {
        return 'col-md-3'
      } else {
        return 'col-md-4'
      }
    },
    thumb: function()
    {
      return this.image.thumb.replace('public', '/storage')
    }
  },
  methods: {
    selectMedia: function(event)
    {
      event.preventDefault()
      EventBus.$emit('admin-media-selected', this.image)
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
